@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100 dark:bg-stone-900 text-stone-900 dark:text-stone-100;
  }
}

@layer components {
  .border-primary {
    @apply border-stone-200 dark:border-stone-700/75;
  }
}

html {
  scroll-behavior: smooth;
}

.bg-signature-gradient {
  background: radial-gradient(
    at 20% 20%,
    rgba(180, 112, 9, 0.3) 0px,
    transparent 50%
  );
}

.bg-morph {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgb(235, 235, 235);
}

.dark .bg-morph {
  background: rgba(72, 72, 72, 0.1);
  border-color: rgb(30, 30, 30);
}

@keyframes dimming-light {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1);
  }
}

.animated-green-light {
  position: relative;
  width: 10px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(0, 208, 0, 0.2); */
  border: 0.5px solid rgb(0, 208, 0, 0.4);
  border-radius: 50%;
  animation-name: dimming-light;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dimming-light__inner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.animated-green-light__inner {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: rgb(0, 208, 0);
  border-radius: 50%;
  animation-name: dimming-light__inner;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
