@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100 dark:bg-stone-900 text-stone-900 dark:text-stone-100;
  }
}

html {
  scroll-behavior: smooth;
}

.bg-signature-gradient {
  background: radial-gradient(
    at 10% 20%,
    hsla(269, 91%, 65%, 0.3) 0px,
    transparent 50%
  );
}

.dark .bg-morph {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-morph {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
